.fi-magnifying-glass{
    margin-right:1rem
}
.border_radius{
    border-radius: 10rem;
}
#profile{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem;
}
#change{
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10rem;
}
#reset{
    border-radius: 10rem;
}
#destId{
    border-radius: 10rem;

}

.addButton{
    border-radius: 10rem;
}
#AggiungiButton{
    margin-left: 1rem;
}
#modRegister{
    margin-left: 20rem;
}

.toolKit input {
    margin-left: 1rem;

}
.toolKit a{
    margin-left: 1rem;
}
#modCreatOff{
    margin-left: 20rem;
}


